<div class="slider">
    <div class="slideOne"></div>
</div>
<div class="container-custom" ng-show="!setnewpassword">
    <div class="toCell cell-left">
        <h2>Get <span>away</span> before you’re too late</h2>
        <h4>Lorem Ipsum is simply dummy text of the.</h4>
    </div>
    <div class="toCell cell-right">
        <div class="form-wrap">
            <div class="form-head text-center">
                <div class="logo-form"><img src="images/logo-blue-gatawey.png" alt="getawey" /></div>
                <h4>Welcome to travel itinerary</h4>
            </div>
            <form role="form" ng-submit="forgot()" name="forgotPassword" novalidate>
                <div class="form-body">
                    <div class="form-group">
                        <input type="email" class="form-control {{errorClass}}" placeholder="Enter Your Email"  ng-model="user.email" name="email" required ng-class="forgotPassword.email.$touched ? forgotPassword.email.$error.required ? 'error' : forgotPassword.email.$error.email ? 'error': '' : ''" title="{{TitleField}}">
                    </div>
                    <button type="submit" class="btn btn-default">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-custom" ng-show="setnewpassword">
    <div class="toCell cell-left">
        <h2>Get <span>away</span> before you’re too late</h2>
        <h4>Lorem Ipsum is simply dummy text of the.</h4>
    </div>
    <div class="toCell cell-right">
        <div class="form-wrap">
            <div class="form-head text-center">
                <div class="logo-form"><img src="images/logo-blue-gatawey.png" alt="getawey" /></div>
                <h4>Welcome to travel itinerary</h4>
            </div>
            <form role="form" ng-submit="setPassword()" name="setNewPassword" novalidate>
                <div class="form-body">
                  <div class="form-group">

                   <input type="password" class="form-control {{errorClass}}" placeholder="Enter Your Password" ng-model="user.password" name="password" required ng-class="setNewPassword.password.$touched && setNewPassword.password.$error.required ? 'error' : ''" title="{{TitleField}}">
                    </div>

                  <div class="form-group">
                        <input type="password" class="form-control {{errorClass}}" placeholder="Confirm Your Password" ng-model="user.cpassword" name="cpassword" required ng-class="setNewPassword.cpassword.$touched && setNewPassword.cpassword.$error.required ? 'error' : ''" title="{{TitleField}}">
                    </div>

                    <button type="submit" class="btn btn-default">Set Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
