<main class="mt-top100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="posts mt-top30">
                    <div class="block-shadow mt-Bottom30">
                        <div class="blockShadow-head clearfix">
                            <div class="post-textarea-wrap pull-left">
                                <div class="post-update-img pull-left"></div>
                                <div class="post-update-text"><span>{{journal.title}}</span></div>
                            </div>
                            <div class="fa-pull-right" ng-if="loggedInUser._id == journal.created_by">
                                <button type="button" name="Edit" ng-click="editjournal()">Edit</button>
                            </div>
                            <div class="pull-right">
                                <span class="timePosted">{{journal.created_on | date:"dd/MM/yyyy 'at' h:mma"}}</span>
                            </div>
                        </div>
                        <div class="postsImage">
                            <img ng-src="{{journal.image_url}}" alt="getawey" />
                        </div>
                        <div class="">
                            <div class="post-update-text">Tags :- <span ng-repeat="name in journal.tags track by $index">  {{name.name}} </span></div>
                            <div class="post-update-text"><span>By :- {{journal.created_user}}<p class="pull-right">{{journal.destinations.city}}</p></span></div>
                            <div class="post-update-text"><span>{{journal.description}}</span></div>
                        </div>
                        <div>
                        </div>
                        <div class="blockShadow-head clearfix">
                            <!-- {{currentUrl}} -->
                            <a class="btn btn-xs btn-warning" href="http://share.renren.com/share/buttonshare.do?link={{currentUrl}}&title=new">Share on renren</a>
                            <a class="btn btn-xs btn-warning" href="http://service.weibo.com/share/share.php?url={{currentUrl}}&appkey=&title=title&pic={{journal.shareImageUrl}}&ralateUid=&language=zh_cn">Share on Weibo</a>
                            <!-- <a class="btn btn-xs btn-warning" href="https://facebook.com/sharer.php?u={{currentUrl}}" social-facebook="" rel="nofollow"><span>Share on facebook</span></a> -->
                             <a facebook-feed-share class="facebookShare" data-url='{{currentUrl}}' data-shares='shares', data-picture='{{journal.shareImageUrl}}' data-description="Example text">facebook</a>
                                <br /><br />
                        </div>
                    </div>
                </div>
                <!-- .........................  comments...................  -->
                <div>
                    <div ng-repeat="commented in cmmnts">
                        <div ng-show="commented.publish">
                            <div><img class="img-rounded" ng-src="{{commented.created_by.image}}" style="width:70px; height:70px"></div>
                            <div><span>{{commented.description}}</span></div>
                            <div><span>{{commented.created_by.local.email}}</span></div>
                        </div>
                    </div>
                    <div ng-show="loggedInUser._id">
                        <input type="text" ng-model="newcomment">
                        <input type="submit" class="btn btn-primary" value="Submit Comment" ng-click="submitcomment()">
                    </div>
                </div>
                <div>
                    <li ng-if="journal.likeBy.indexOf(loggedInUser._id) == -1" id="like"><a ng-click="like()">Like</a></li>
                    <!--                     <li ng-if="journal.likeBy.indexOf(loggedInUser._id) !== -1" id="unlike"><a ng-click="unlike()">Unlike</a></li> -->
                    <!-- <div><span>{{journal.likeBy.length}}</span></div> -->
                </div>
            </div>
        </div>
    </div>
</main>
