  <!--Admin css-->
    <link rel="stylesheet" type="text/css" href="../../css/custom-admin.css">
    <link rel="stylesheet" type="text/css" href="../../css/morris.css">
    <link rel="stylesheet" type="text/css" href="../../css/sb-admin.css">
    <link rel="stylesheet" type="text/css" href="../../css/font-awsome/css/font-awesome.css">

    <div class="vcenter nopadding col-sm-12" ng-cloak>
    <div class="col-sm-4 hcenter loginForm">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Login Form</h3>
            </div>
            <div class="panel-body">
                <p class="red" ng-if="loggedInUser && !loggedInUser.isadmin && !loggedInUser.issuperadmin">Sorry {{loggedInUser.profile_fields.first_name}}, You do not have admin access</p>
                <form ng-submit="login()" name="loginForm" class="col-sm-12">
                    <div class="form-group col-xs-12 nopadding">
                        <label class="col-xs-12 nopadding">Username</label>
                        <div class="col-xs-12 nopadding">
                            <input type="text" ng-model="user.email" placeholder="Enter Email" name="email" tabindex="1" required autofocus class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-xs-12 nopadding">
                        <label class="col-xs-12 nopadding">Password</label>
                        <div class="col-xs-12 nopadding">
                            <input type="password" ng-model="user.password" placeholder="Type your password" tabindex="3" name="password" required class="form-control">
                        </div>
                    </div>
                    <div class="error red" ng-show="error" >{{error}}</div>
                    <div class="col-xs-12 text-center">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- 
<div class="col-xs-12 col-sm-9 p-a-1 bg-white">
 <div class="error" ng-show="message" >{{message}}</div>
<h2>User account</h2>
<div ng-show="loggedInUser && (!loggedInUser.isadmin || !loggedInUser.issuperadmin)"><p>Your current is not authorized for admin section !!</p><p>Please login as admin  </p></div>
<div class="tab-content col-xs-12">
  <div id="login" class="tab-pane fade in active">
    <h3>Admin Log In</h3>
    <form role="form" ng-submit="login()" name="loginForm">
      <div class="form-group">
        <label for="email">Username or e-mail address *:</label>
        <input type="text" class="form-control" ng-model="user.email" id="email" placeholder="Enter Email address" name="email" required>
        <span class="error help-block col-xs-12" ng-show="loginForm.email.$touched && loginForm.email.$error.required">Username is required.</span>
      </div>
      <div class="form-group">
        <label for="pwd">Password *:</label>
        <input type="password" class="form-control" ng-model="user.password" id="pwd" placeholder="Password" name="password" required>
        <span class="error help-block col-xs-12" ng-show="loginForm.password.$touched && loginForm.password.$error.required">Password is required.</span>
      </div>
         
      <div class="error" ng-show="error" >{{error}}</div>

      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </div>
 -->