<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Create Destination
        </h1>
    </div>
</div>
<!-- /.row -->

<form role="form" ng-submit="editDestination()" name="editDestinationForm" novalidate>
    <div class="form-group">
        <label for="city">City *: </label>
        <input type="text" class="form-control" ng-model="destination.city" id="city" placeholder="Destination Name" name='city' tabindex="1" required autofocus>
        <span class="error help-block col-xs-12 red" ng-show="editDestinationForm.city.$touched && editDestinationForm.city.$error.required">Required!</span>
    </div>
    
    <div class="form-group">
        <label for="Country">Country :</label>
        <select class="form-control" ng-model="destination.country" id="country" name='country' tabindex="2"  required autofocus>
          <option value="">--Select Country--</option>
          <option ng-repeat="(key, value) in countries" value="{{key}}">{{value}}</option>
        </select>

        <span class="error help-block col-xs-12 red" ng-show="editDestinationForm.country.$touched && editDestinationForm.country.$error.required">Required!</span>

    </div>

    <div class="form-group">
        <label for="last_name">Description :</label>
        <textarea type="text" class="form-control" ng-model="destination.description" id="last_name" placeholder="description" tabindex="3"></textarea>
    </div> 

    <!-- Image Field-->
    <div class="form-group">
        <label  for="image">City Image *:</label>
        <input type="file" accept="image/*" ngf-max-size="5MB" ngf-select ng-model='temp_file' required tabindex="3">
        <span class="error help-block col-xs-12 red" ng-show="editDestinationForm.temp_file.$touched && editDestinationForm.temp_file.$error.required">Required!</span>
    </div>

    <div class="form-group">
        <img height="200" src="{{destination.image}}" ng-show="destination.image && !temp_file">
    </div>

    <div class="form-group">
    <div class="col-xs-12 red nopadding" ng-show="error">{{error}}</div>
            <input type="submit" class="btn btn-primary" tabindex="4" value="Update Destination">
    </div>
</form>
