/* Common*/
.full-height{
	height: 100%;
}
.pointer{
    cursor: pointer;
}
/*color */
.red{color: red;}
.error{border: 2px red solid!important;}


/*margin/padding*/
.nopadding{padding: 0;}
.margin10{	margin :10px 0px;}


.ng-dialog-custom-width .ngdialog-content{
    width: 50%!important;
}
.ngdialog-content{
    padding: 0px!important;
}
.fullimage{
    height: 100%;
    width: 100%;
}

.dndattractions{
    padding: 5px;
    border: 2px solid;
}

.setting-menu .user-menu{
	color: #FFF;
    display: inline-block;
    padding: 10px 0;
    font-family: 'GOTHAM-BOLD';
    font-size: 16px;

}
.popup_destinatios{
    width: 400px;
    background: white;
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.tour-plan-main  ul{
    min-height: 100px;
}
.timepicker{
   position: absolute;
   z-index: 9999;
   background: white;
   border: 2px solid #f1f1f1;
   min-width: 200px;
   padding: 10px 0;
}
.timepicker table tr>td{
    padding: 0 10px; 
}

.updating_itinerary_days{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: black;
    z-index: 10000;
    opacity: 0.6;
  
}


/*Itinerary last li */
.day_last_item{
    padding-bottom: 40px;
}

.tour-plan-main ul[dnd-list],
.tour-plan-main ul[dnd-list] > li ,
.attractioList-wrap ul[dnd-list],
.attractioList-wrap ul[dnd-list] > li {
    position: relative;
}

.tour-plan-main ul[dnd-list] ,
.attractioList-wrap ul[dnd-list]{
    min-height: 42px;
    padding-left: 0px;
}


.tour-plan-main ul[dnd-list] .dndDraggingSource {
    display: none;
}

.attractioList-wrap .dndPlaceholder{
    display: none!important;
}
.attractioList-wrap ul[dnd-list] li{
     display: block;
     padding: 5px;
 }


.tour-plan-main .dndPlaceholder{
    display: block;
    background-color: #000000;
    opacity: 0.3;
    min-height: 42px;
}

.tour-plan-main ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}


