/*.ngdialog-content{
	padding: 0!important;
}
.nopadding{
	padding: 0;
}*/
.full-height{
	height: 100%;
}
.nopadding{
	padding: 0;
}
.ngdialog-content{
	padding: 0px!important;
}
.table_btns{
	margin: 3px;
}
.navbar-brand{
	padding: 2px;
}
.navbar-brand img{
	height: 100%;
}
.pointer{
	cursor: pointer;
}
.tm30{margin-top: 30px;}
.tm10{margin-top: 10px;}
.tm5{margin-top: 5px;}
.m5{margin: 5px;}
.red{color: red}
.clear{clear:both;}
.vcenter{
  display: flex;
  align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: black;
}
.hcenter{
	margin: 0 auto;
}
.sidebar_menus{
	font-weight: bold;
}
.attractionsForm input,.attractionsForm select{
	margin: 5px;
}
.loader{
	    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11111111;
    bottom: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
}
.loader img{
	margin: 0 auto;
}