<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Import Attraction
        </h1>
    </div>
</div>
<div class="loader" ng-show="calling">
	<img src="images/loading.gif">
</div>
<div class="col-xs-12" >
	<form role="form" ng-submit="import()" name="importForm" novalidate>
	    <div class="form-group">
	        <label for="term">Cities *: </label>
			<select required class="form-control" ng-model="importjson.term" name="term" ng-options="value.city for value in cities track by value.city" autofocus>
				<option value="">--Select City--</option>
			</select>
	        <span class="error help-block col-xs-12 red" ng-show="importForm.term.$touched && importForm.term.$error.required">Required!</span>
	    </div>

	    <div class="form-group">
	        <label for="category">Category*: </label>
	       
			<select required class="form-control" ng-model="importjson.category_filter" name="category" ng-options="value.title for value in categories track by value.name" autofocus>
				<option value="">--Select Category--</option>
			</select>

	        <span class="error help-block col-xs-12 red" ng-show="importForm.category.$touched && importForm.category.$error.required">Required!</span>
	    </div>


   		<div class="form-group">
	        <label for="offset">Offset *: </label>
	       
			<select required class="form-control" ng-model="importjson.offset" name="offset"  ng-options="value for value in offset" autofocus>
				<option value="">--Select Offset--</option>
			</select>
	        <span class="error help-block col-xs-12 red" ng-show="importForm.offset.$touched && importForm.offset.$error.required">Required!</span>
	    </div>
   		<div class="form-group">
   			<label for="offset">Limit: </label>
   			<input type="text" disabled class="form-control" value="{{importjson.limit}}">
   		</div>
   		<div class="form-group">

			<div ng-if="city_key == importjson.term.city" ng-repeat="(city_key, city_value) in progress">
				<div ng-if="category_key == importjson.category_filter.name" ng-repeat="(category_key, category_value) in city_value">
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="{{category_value.imported}}" aria-valuemin="0" aria-valuemax="{{category_value.total_count}}" style="width:{{ category_value.imported / category_value.total_count  * 100  | number:0}}%">
						    {{ category_value.imported / category_value.total_count  * 100  | number:0}}%
						  </div>
						</div>
							<button type="button" class="btn btn-primary pull-left m5" ng-click="updateProgress()"> <i class="fa fa-refresh" aria-hidden="true"></i></button>
							<div>Total : {{category_value.total_count}}</div>
							<div>Imported : {{category_value.imported}}</div>
						<div class="clear">Please refersh to check importing status</div>
				</div>
			</div>
   			
   		</div>

   		<div class="form-group">
   			<div class="col-xs-12" style="color:red" ng-show="error">{{error}}</div>
   			<input type="submit" value="Import" class="btn btn-primary">
			<input type="button" value="Import All" class="btn btn-primary" ng-click="importAll()">
   		</div>
    </form>

</div>
