<!-- <script src="http://maps.googleapis.com/maps/api/js"></script>

<script>
var map;
var myCenter=new google.maps.LatLng(29.13,75.75);

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:12,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

  map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    placeMarker(myCenter);
  google.maps.event.addListener(map, 'click', function(event) {
    placeMarker(event.latLng);
  });
}

function placeMarker(location) {
  var marker = new google.maps.Marker({
    position: location,
    map: map,
  });
  var infowindow = new google.maps.InfoWindow({
    content: 'Latitude: ' + location.lat() + '<br>Longitude: ' + location.lng()
  });
  infowindow.open(map,marker);
document.getElementById('lat').innerHTML = location.lat();
document.getElementById('long').innerHTML = location.lng();
}

google.maps.event.addDomListener(window, 'load', initialize);
</script> -->





<style type="text/css">
  .star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.star-rating.readonly .star.filled {
  color: #666;
}
</style>


<main class="mt-top30 mt-Bottom30" ng-cloak>
    <div class="container profile-settings-page">
        <div class="page-header">
            <div class="title">
                <h2>Create Attraction</h2>
            </div>
        </div>
        <div class="form-horizontal">
            <div id="myTabContent" class="tab-content mt-top30">
                <div id="home">
                    <form role="form" ng-submit="createAttraction()" name="CreateAttractionForm" novalidate>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="hasMax-width">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Name *: </label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Attraction Name" name="name" ng-model="attraction.name" tabindex="1" required ng-class="CreateAttractionForm.name.$touched && CreateAttractionForm.name.$error.required ? 'error' : ''">
                                            <span style="color:red" ng-show="count && CreateAttractionForm.name.$error.required">name is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Description *:</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" placeholder="Attraction Description" name="description" ng-model="attraction.description" tabindex="2" required ng-class="CreateAttractionForm.description.$touched && CreateAttractionForm.description.$error.required ? 'error' : ''"></textarea>
                                            <span style="color:red" ng-show="count && CreateAttractionForm.description.$error.required">description is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="category">Category *:</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="attraction.category" id="category" name='category' tabindex="3" ng-options="value.title for value in categories track by value.name" required ng-class="CreateAttractionForm.category.$touched && CreateAttractionForm.category.$error.required ? 'error' : ''">
                                                <option value="">--Select Category--</option>
                                            </select>
                                            <span style="color:red" ng-show="count && CreateAttractionForm.category.$error.required">Category is required.</span>
                                        </div>
                                    </div>
<!-- {{attraction.category}} -->

<!--                                     <div class="form-group">
                                        <label class="col-sm-3 control-label" for="rating">Rating *:</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="attraction.rating" id="rating" name='rating' tabindex="4" ng-options="value for value in ratings" required ng-class="CreateAttractionForm.rating.$touched && CreateAttractionForm.rating.$error.required ? 'error' : ''">
                                                <option value="">--Select Rating--</option>
                                            </select>
                                            <span style="color:red" ng-show="count && CreateAttractionForm.rating.$error.required">Rating is required.</span>
                                        </div>
 

                                    </div> -->
<div class="form-group">
<label class="col-sm-3 control-label" for="rating">Rating  *: </label>
<div class="container col-sm-9">
  <div star-rating ng-model="attraction.rating" max="5" on-rating-select="rateFunction(rating)"></div>
  </div>
  </div>



 <!--  <star-rating ng-model="rating.rating2" readonly="rating.isReadonly"></star-rating>
  <label>
    <input type="checkbox" ng-model="rating.isReadonly"/>
    Is Readonly
  </label>
  <div><strong>Rating 1:</strong> {{rating.rating1}}</div>
  <div><strong>Rating 2:</strong> {{rating.rating2}}</div>
</div> -->

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="phone_no">Phone Number : </label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="phone_no" placeholder="Phone Number" name="phone_no" ng-model="attraction.phone_no" tabindex="5" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="longitude">Longitude : </label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" ng-model="attraction.longitude" id="longitude" placeholder="Longitude" name='longitude' tabindex="7" disabled>
                                        </div>
                                    </div>                                    
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="latitude">Latitude : </label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" ng-model="attraction.latitude" id="latitude" placeholder="Latitude" name='latitude' tabindex="6" disabled>
                                        </div>
                                    </div>
<!--                                     <div class="form-group">
                                        <label class="col-sm-3 control-label" for="longitude">Longitude : </label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" ng-model="attraction.longitude" id="longitude" placeholder="Longitude" name='longitude' tabindex="7" disabled>
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="address">Address *:</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" ng-model="attraction.address" id="address" placeholder="Attraction Address" name='address' tabindex="8" required ng-class="CreateAttractionForm.address.$touched && CreateAttractionForm.address.$error.required ? 'error' : ''"></textarea>
                                            <span style="color:red" ng-show="count && CreateAttractionForm.address.$error.required">address is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="city">City *:</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="attraction.city" ng-change="cityPlace(attraction.city)" id="city" name='city' tabindex="9" ng-options="value.city for value in destinations track by value._id" required ng-class="CreateAttractionForm.city.$touched && CreateAttractionForm.city.$error.required ? 'error' : ''">
                                                <option value="">--Select City--</option>
                                            </select>
                                            <span style="color:red" ng-show="count && CreateAttractionForm.city.$error.required">city is required.</span>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label class="col-sm-3 control-label" for="language">Language *:</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="attraction.language_code" ng-change="language_change()" id="language" name='language' tabindex="10" required ng-class="CreateAttractionForm.language.$touched && CreateAttractionForm.language.$error.required ? 'error' : ''">
                                                <option value="">--Select Language--</option>
                                                <option ng-repeat="(key, value) in languages" value="{{key}}">{{value}}</option>
                                            </select>
                                            <span style="color:red" ng-show="count && CreateAttractionForm.language.$error.required">language is required.</span>
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <!-- <label class="col-sm-3 control-label" for="is_always_open">Always Open :</label>
                                        <div class="col-sm-9">
                                        <input type="checkbox" ng-change="alwaysopencheckbox()" name="is_always_open" id="is_always_open" ng-model="attraction.is_always_open" tabindex="11">
                                         </div> -->
                                        <label class="col-sm-3 control-label" for="timing">Timings:</label>
                                        <input type="radio" name="time" id="is_always_open" value=true ng-change="alwaysopen()" ng-model="attraction.is_always_open">Always open
                                        <input type="radio" name="time" id="custom_timing" value=false ng-change="alwaysopen()" ng-model="attraction.is_always_open">Add Custom Timing
                                        <br>
                                    </div>
                                    <div ng-if="attraction.is_always_open == 'false'">
                                        <button style="margin-left: 400px;" type="button" ng-click="clickme()" tabindex="13">Click here to add</button>
                                        <div class="form-group add_days" ng-repeat="day in openclose">
                                            <label class="col-sm-3 control-label" for="day">Days :</label>
                                            <div class="col-sm-9">
                                                <select ng-model="timing[$index].day" id="day" name='day' ng-options="k as v for (k,v) in allDays" tabindex="14" required ng-class="CreateAttractionForm.day.$touched && CreateAttractionForm.day.$error.required ? 'error' : ''">
                                                    <option>Select Days</option>
                                                </select>
                                                <span style="color:red" ng-show="count && CreateAttractionForm.day.$error.required">day is required.</span> Opening Time :
                                                <input type="time" name="opening_time" id="opening_time" ng-model="timing[$index].opentime" tabindex="15" required ng-class="CreateAttractionForm.opening_time.$touched && CreateAttractionForm.opening_time.$error.required ? 'error' : ''"></input>
                                                <span style="color:red" ng-show="count && CreateAttractionForm.opening_time.$error.time">Incorrect Time.</span> Closing Time :
                                                <input type="time" name="closing_time" id="closing_time" ng-model="timing[$index].closetime" tabindex="16" required ng-class="CreateAttractionForm.closing_time.$touched && CreateAttractionForm.closing_time.$error.required ? 'error' : ''"></input>
                                                <span style="color:red" ng-show="count && CreateAttractionForm.closing_time.$error.time">Incorrect Time.</span>
                                            </div>
                                            <button type="button" ng-click="removeopenclosetime($index)">Remove it</button>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label class="col-sm-3 control-label" for="review_count">Review Counts : </label>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" ng-model="attraction.review_count" id="review_count" placeholder="Review Count" name='review_count' tabindex="11">
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="image_url">Attraction Image *:</label>
                                        <div class="col-sm-9">
                                            <input type="file" accept="image/*" ngf-max-size="5MB" ngf-select ng-model='temp_file' multiple required tabindex="12" name="temp_file" required ng-class="CreateAttractionForm.temp_file.$touched && CreateAttractionForm.temp_file.$error.required ? 'error' : ''">
                                        </div>
                                    </div>
                                    <div class="form-wrap  form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            <div class="col-xs-12 red nopadding" ng-show="error">{{error}}</div>
                                            <!-- <button class="btn btn-primary" type="submit" tabindex="17">Create</button> -->
                                            <input type="submit" class="btn btn-primary" value="Create Attraction">
                                            <button class="btn btn-default" type="button" ng-click="cancel()" tabindex="18">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

<div><label>address:</label>
<textarea ng-model="attraction.address" id="address" placeholder="Attraction Address" name='address'></textarea>
<input type="button" value="check" ng-click="checkaddress(attraction.address)"></input>
<input type="button" value="current" ng-click="current()"></input>
</div>
<div id="googleMap" style="width:400px;height:200px;"></div>
<!-- <div id="lat"></div>
<div id="long"></div>
{{attraction}} -->



</main>
