<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Create User
        </h1>
    </div>
</div>

<!-- /.row -->
<form role="form" ng-submit="createUser()" name="createForm" novalidate>
        <div class="form-group">
            <label for="first_name">First Name :</label>
            <input type="text" class="form-control" ng-model="user.profile_fields.first_name" id="first_name" name="first_name" placeholder="First Name" tabindex="1" required>

            <span class="error help-block col-xs-12 red" ng-show="createForm.first_name.$touched && createForm.first_name.$error.required">First Name Required.</span>
        </div>
       
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" ng-model="user.profile_fields.last_name" id="last_name" placeholder="Last Name" tabindex="3">
        </div>
       
        <div class="form-group">
            <label for="ph_no">Phone Number :</label>
            <input type="text" class="form-control" ng-model="user.profile_fields.ph_no" id="ph_no" placeholder="Phone Number" tabindex="4">
        </div>
       
        <div class="form-group">
            <label for="email">E-mail address *:</label>
            <input type="email" class="form-control" ng-model="user.local.email" id="email" placeholder="E-mail address" name="email" required tabindex="5">
            <span class="error help-block col-xs-12 red " ng-show="createForm.email.$touched && createForm.email.$error.required">Email Required.</span>
            <span class="error help-block col-xs-12" ng-show="createForm.email.$touched && createForm.email.$error.email">This is not a valid email.</span>
        </div>
     
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" ng-model="user.local.password" placeholder="Type your password" tabindex="6" name="password" required class="form-control">
            <span class="error help-block col-xs-12 red" ng-show="createForm.password.$touched && createForm.password.$error.required">Password is required.</span>
        </div>
        <div class="form-group">
            <label for="confirmPassword" >Confirm Password</label>
            <input type="password" ng-model="user.local.confirmPassword" placeholder="Confirm password" tabindex="7" name="cpassword" required class="form-control"> 
            <span class="error help-block col-xs-12 red" ng-show="createForm.cpassword.$touched && createForm.cpassword.$error.required">Password is required.</span>
        </div>

        <!-- Image Field-->
        <div class="form-group">
            <label  for="image_url">Image *:</label>
            <input type="file" accept="image/*" ngf-max-size="5MB" ngf-select ng-model='temp_file' tabindex="12" name="temp_file">
        </div>


        <div class="form-group" ng-init="user.status='true'">
                <label>Status</label>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="user.status" value="true">Active</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="user.status" value="false" >Block</label>
                </div>
            </div>


        <div class="form-group" ng-init="user.isadmin='false'">
            <label> Admin</label>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="user.isadmin" value="true">True</label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="user.isadmin" value="false">False</label>
            </div>
        </div>
        <div class="error red" ng-show="error" >{{error}}</div>
        <button type="submit" class="btn btn-primary">Create new account</button>
    </form>
