	<!--Admin css-->
    <link rel="stylesheet" type="text/css" href="../../css/custom-admin.css">
    <link rel="stylesheet" type="text/css" href="../../css/morris.css">
    <link rel="stylesheet" type="text/css" href="../../css/sb-admin.css">
    <link rel="stylesheet" type="text/css" href="../../css/font-awsome/css/font-awesome.css">
<!-- <div class="col-xs-12">
	<button type="button" class="btn btn-primary" ng-show="loggedInUser.isadmin || loggedInUser.issuperadmin" ng-click="logout()">Logout</button>
</div>
<div class="container"> -->
  
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-if="loggedInUser && (loggedInUser.isadmin ||loggedInUser.issuperadmin)">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="admin.admin">
                  <img src="images/logo-blue-gatawey.png" alt="getawey" />
                </a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a  class="dropdown-toggle pointer" data-toggle="dropdown"><i class="fa fa-user"></i> {{loggedInUser.profile_fields.first_name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="pointer" ng-click="logout()"><i class="fa fa-fw fa-user"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse sidebar_menus">
                <ul class="nav navbar-nav side-nav">
                    <li ng-class="currentState == 'admin.admin' ? 'active' : ''">
                        <a ui-sref="admin.admin"> Dashboard</a>
                    </li>
                     <li ng-class="currentState == 'admin.attractions' ? 'active' : ''">
                        <a ui-sref="admin.attractions" ></i> Attractions</a>
                    </li>
                    <li ng-class="currentState == 'admin.attractionsImport' ? 'active' : ''">
                        <a ui-sref="admin.attractionsImport"></i> Import Attractions</a>
                    </li>
                     <li ng-class="currentState == 'admin.users' ? 'active' : ''">
                        <a ui-sref="admin.users"></i> Users</a>
                    </li>
                     <li ng-class="currentState == 'admin.destinations' ? 'active' : ''">
                        <a ui-sref="admin.destinations"></i> Destinations</a>
                    </li>
                     <li ng-class="currentState == 'admin.journals' ? 'active' : ''">
                        <a ui-sref="admin.journals"></i> Journals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div ui-view></div>
            </div>

        </div>
        <!-- /#page-wrapper -->

    </div>
<!-- </div> -->
