<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Create Destination
        </h1>
    </div>
</div>
<!-- /.row -->

<form role="form" ng-submit="createDestination()" name="createDestinationForm" novalidate>

    <div class="form-group">
        <label for="city">City *: </label>
        <input type="text" class="form-control" ng-model="destination.city" id="city" placeholder="Destination Name" name='city' tabindex="1" required autofocus>
        <span class="error help-block col-xs-12 red" ng-show="createDestinationForm.city.$touched && createDestinationForm.city.$error.required">Required!</span>
    </div>

    <div class="form-group">
        <label for="description">Description *: </label>
        <textarea class="form-control" ng-model="destination.description" id="city" placeholder="Destination description" name='description' tabindex="2" required autofocus></textarea>
        <span class="error help-block col-xs-12 red" ng-show="createDestinationForm.description.$touched && createDestinationForm.description.$error.required">Required!</span>
    </div>    
    
    <div class="form-group">
        <label for="Country">Country *:</label>
        <select class="form-control" ng-model="destination.country" id="country" name='country' tabindex="2"  required>
          <option value="">--Select Country--</option>
          <option ng-repeat="(key, value) in countries" value="{{key}}">{{value}}</option>
        </select>

        <span class="error help-block col-xs-12 red" ng-show="createDestinationForm.country.$touched && createDestinationForm.country.$error.required">Required!</span>

    </div>

    <!-- Image Field-->
    <div class="form-group">
        <label  for="image">City Image *:</label>
        
        <input type="file" accept="image/*" ngf-max-size="5MB" ngf-select ng-model='temp_file' required tabindex="3" name="temp_file">
        <span class="error help-block col-xs-12 red" ng-show="createDestinationForm.temp_file.$touched && createDestinationForm.temp_file.$error.required">Required!</span>

    </div>

    <div class="form-group">
    <div class="col-xs-12 red nopadding" ng-show="error">{{error}}</div>
        <input type="submit" class="btn btn-primary" tabindex="4" value="Create Destination">
    </div>
</form>
