<main class="mt-top100">
                        <div class="postsImage">
                            <img ng-src="{{destinations.image}}" alt="getawey" />
                        </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="posts mt-top30">
                    <div class="block-shadow mt-Bottom30">
                        <div class="blockShadow-head clearfix">
                            <div class="post-textarea-wrap pull-left">
                                <div class="post-update-img pull-left"></div>
                                <div class="post-update-text"><span>{{destinations.city}}</span></div>
                            </div>
                        </div>
                        <div class="postsImage">
                            <img ng-src="{{destinations.image}}" alt="getawey" />
                        </div>
                        <div class="">
                            <div class="post-update-text"><span><p class="pull-right">{{destinations.description}}</p></span></div>
                            <div class="post-update-text"><span>{{destinations.country}}</span></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
