<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Create Attraction
        </h1>
    </div>
</div>
<!-- /.row -->

<form role="form" ng-submit="createAttraction()" name="CreateAttractionForm" novalidate>
    <div class="form-group">
        <label for="name">Name *: </label>
        <input type="text" class="form-control" ng-model="attraction.name" id="name" placeholder="Attraction Name" name='name' tabindex="1" required autofocus>
        <span class="error help-block col-xs-12 red" ng-show="CreateAttractionForm.name.$touched && CreateAttractionForm.name.$error.required || submitted && !CreateAttractionForm.name.$touched">Required!</span>
    </div>
    
    <div class="form-group">
        <label for="description">Description :</label>
        <textarea class="form-control" ng-model="attraction.description" id="description" placeholder="Attraction Description" name='description' tabindex="2" autofocus> </textarea>
    </div>

    <div class="form-group">
        <label for="category">Category *:</label>
        <select class="form-control" ng-model="attraction.category" id="category" name='category' tabindex="3" autofocus ng-options="value.title for value in categories track by value.name" required autofocus>
          <option value="">--Select Category--</option>
        </select>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !CreateAttractionForm.category.$touched || CreateAttractionForm.category.$touched && CreateAttractionForm.category.$error.required">Required!</span>
    </div>

    <div class="form-group">
        <label for="rating">Rating *:</label>
        <select class="form-control" ng-model="attraction.rating" id="rating" name='rating' tabindex="4" autofocus ng-options="value for value in ratings" required autofocus>
        <option value="">--Select Rating -- </option>
        </select>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !CreateAttractionForm.rating.$touched ||  CreateAttractionForm.rating.$touched && CreateAttractionForm.rating.$error.required">Required!</span>
    </div>
    
    <div class="form-group">
        <label for="phone_no">Phone Number *:</label>
        <input type="text" class="form-control" ng-model="attraction.phone_no" id="phone_no" placeholder="Phone Number" name='phone_no' tabindex="5" required autofocus >
        <span class="error help-block col-xs-12 red" ng-show="submitted && !CreateAttractionForm.phone_no.$touched || CreateAttractionForm.phone_no.$touched && CreateAttractionForm.phone_no.$error.required">Required!</span>

    </div>


    <div class="form-group">
        <label for="latitude">Latitude :</label>
        <input type="number" class="form-control" ng-model="attraction.latitude" id="latitude" placeholder="Latitude" name='latitude' tabindex="6" autofocus>
    </div>

    <div class="form-group">
        <label for="longitude">Longitude :</label>
        <input type="number" class="form-control" ng-model="attraction.longitude" id="longitude" placeholder="Longitude" name='longitude' tabindex="7" autofocus>
    </div>

    <div class="form-group">
        <label for="address">Address *:</label>
        <textarea class="form-control" ng-model="attraction.address" id="address" placeholder="Attraction Address" name='address' tabindex="8" required autofocus> </textarea>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !CreateAttractionForm.address.$touched  || CreateAttractionForm.address.$touched && CreateAttractionForm.address.$error.required">Required!</span>

    </div>

    <div class="form-group">
        <label for="city">City *:</label>
        <select class="form-control" ng-model="attraction.city" id="city" name='city' tabindex="9"  ng-options="value.city for value in destinations track by value._id" required autofocus>
          <option value="">--Select City--</option>
        </select>

        <span class="error help-block col-xs-12 red" ng-show="submitted && !CreateAttractionForm.city.$touched || CreateAttractionForm.city.$touched && CreateAttractionForm.city.$error.required">Required!</span>

    </div>

    <div class="form-group">
        <label for="language">language *:</label>
        <select class="form-control" ng-model="attraction.language_code" ng-change="language_change()" id="language" name='language' tabindex="11" required autofocus>
            <option value="">--Select Language--</option>
            <option ng-repeat="(key, value) in languages" value="{{key}}">{{value}}</option>
        </select>

        <span class="error help-block col-xs-12 red" ng-show="submitted && !CreateAttractionForm.language.$touched || CreateAttractionForm.language.$touched && CreateAttractionForm.language.$error.required">Required!</span>
    </div>


    <div class="form-group">
        <label for="yelp_full_url">Yelp Full Url :</label>
        <input type="text" class="form-control" ng-model="attraction.yelp_full_url" id="yelp_full_url" placeholder="Full Url From Yelp" name='yelp_full_url' tabindex="5" autofocus>
    </div>
    <div class="form-group">
        <label for="eat24_url">Eat 24 Url :</label>
        <input type="text" class="form-control" ng-model="attraction.eat24_url" id="eat24_url" placeholder="Eat 24 Url" name='eat24_url' tabindex="5" autofocus>
    </div>
    <div class="form-group">
        <label for="reservation_url">Reservation Url :</label>
        <input type="text" class="form-control" ng-model="attraction.reservation_url" id="reservation_url" placeholder="Reservation Url" name='reservation_url' tabindex="5" autofocus>
    </div>
    <div class="form-group">
        <label for="review_count">Review Counts :</label>
        <input type="number" class="form-control" ng-model="attraction.review_count" id="review_count" placeholder="Review Count" name='review_count' tabindex="5" autofocus>
    </div>


    <!-- Image Field-->
    <div class="form-group">
        <label  for="image_url">Attraction Image *:</label>
        
        <input type="file" accept="image/*" ngf-max-size="5MB" ngf-select ng-model='temp_file' required tabindex="12" name="temp_file">
        <span class="error help-block col-xs-12 red" ng-show="submitted && !CreateAttractionForm.temp_file.$touched || CreateAttractionForm.temp_file.$touched && CreateAttractionForm.temp_file.$error.required">Required!</span>

    </div>
    <div class="form-group">
        <label for="is_claimed">Claimed :</label>
        <input type="checkbox" name="is_claimed" id="is_claimed" ng-model="attraction.is_claimed" tabindex="13" autofocus>
    </div>

    <div class="form-group">
        <label for="is_closed">Closed :</label>
        <input type="checkbox" name="is_closed" id="is_closed" ng-model="attraction.is_closed" tabindex="12" autofocus>
    </div>
    <div class="form-group">
        <label for="is_always_open">Timings :</label>
        <input type="radio" ng-change="alwaysopen()" name="time" id="is_always_open" value=true ng-model="attraction.is_always_open" tabindex="13" autofocus>Always open
        <input type="radio" ng-change="alwaysopen()" name="time" id="custom_timing" value=false ng-model="attraction.is_always_open" tabindex="13" autofocus>Add Custom Timing       
    </div>   

<div ng-if="attraction.is_always_open == 'false'">
<button type="button" ng-click="clickme()">Click here to add</button>
    <div class="form-group" ng-repeat="timings in timing track by $index">
        Timings :-
            <select ng-model="timing[$index].day" id="day" name='day' ng-options="k as v for (k,v) in allDays" tabindex="14">
                <option value="">--Select Days--</option>
            </select>
            Opening Time :
            <input type="time" name="opening_time" id="opening_time" ng-model="timing[$index].opentime"></input>
            Closing Time :
            <input type="time" name="closing_time" id="closing_time" ng-model="timing[$index].closetime"></input>
            <button type="button" ng-click="removeopenclosetime($index)">Remove it</button>
    </div>
</div>

    <div class="form-group">
        <label for="publish">Approve :</label>
        <input type="checkbox" name="publish" id="publish" ng-model="attraction.published" tabindex="13" autofocus>
    </div>         


    <div class="form-group">
    <div class="col-xs-12 red nopadding" ng-show="error">{{error}}</div>
            <input type="submit" class="btn btn-primary" value="Create Attraction">
    </div>
</form>
