        <div class="slider">
            <div class="slideOne"></div>
        </div>
        <div class="container-custom">
            <div class="toCell cell-left">
                <h2>Get <span>away</span> before you’re too late</h2>
                <h4>Lorem Ipsum is simply dummy text of the.</h4>
            </div>
            <div class="toCell cell-right">
                <div class="form-wrap">
                    <div class="form-head text-center">
                        <div class="logo-form"><img src="images/logo-blue-gatawey.png" alt="getawey" /></div>
                        <h4>Welcome to travel itinerary</h4>
                    </div>
                    <form role="form" ng-submit="signUp()" name="createForm" novalidate>
                        <div class="form-body">
                            <div class="form-group">
                                <input type="text" class="form-control {{classes.first_name}}" title= "{{titles.first_name}}" placeholder="Enter Your Name" name="first_name"  ng-model="user.first_name" ng-class="createForm.first_name.$touched && createForm.first_name.$error.required ? 'error' : ''" required>
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control {{classes.email}}" title="{{titles.email}}" placeholder="Enter Your Email" ng-model="user.email"  name="email" required ng-class="createForm.email.$touched ? createForm.email.$error.required ? 'error' : createForm.email.$error.email ? 'error': '' : ''" >
                            </div>


                            <div class="form-group">
                                <input type="password" class="form-control {{classes.password}}" placeholder="Enter Your Password" title="{{titles.password}}" ng-model="user.password" name="password" required ng-class="createForm.password.$touched && createForm.password.$error.required ? 'error' : '' ">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control {{classes.cpassword}}"  placeholder="Confirm Your Password" title="{{titles.cpassword}}" ng-model="user.confirmPassword" name="cpassword" required ng-class="createForm.cpassword.$touched && createForm.cpassword.$error.required ? 'error' : ''">
                            </div>
                            <div class="or">OR</div>
                            <button class="btn btn-facebook" type="button">
                                <span><a  href="/api/users/login/facebook"><img src="images/fb-lightl.png" alt="getawey" />  Sign Up with Facebook</a></span>
                            </button>
                        </div>
                        <button type="submit" class="btn btn-default mt-top10">SignUp</button>
                    </form>
                </div>
            </div>
        </div>