<!-- <div class="slider">
    <div class="slideOne"></div>
</div> -->
<main>
    <div class="col-xs-8 col-xs-offset-2 ci-page">
        <form ng-submit="createItinerary()" name="ItineraryDatesPlanner">
        <div class="col-xs-12">
            <!-- For From City-->
            <div class="col-xs-3">
                <div class="col-xs-12">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="itinerary.start_date" is-open="popup['trip_from'][0]" datepicker-options="dateOptions" ng-required="true" close-text="Close" class="form-control" placeholder="Start Date" name="start_date">
                    <i class="fa fa-calendar pointer" ng-click="open('trip_from' , 0)" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-7">
                <select ng-model="itinerary.trip_from" ng-options="destination.city for destination in destinations track by destination.city"></select>
                
            </div>
        </div>
            
            <!-- For To City-->
            <div class="col-xs-12" ng-repeat="destination in itinerary.trip_to">
                <div class="col-xs-3">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="itinerary.trip_to[$index].start_date" is-open="popup[$index][0]" datepicker-options="dateOptions" ng-required="true" close-text="Close" class="form-control" placeholder="Start Date" name="start_date">
                        <i class="fa fa-calendar pointer" ng-click="open($index ,0)" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="itinerary.trip_to[$index].end_date" is-open="popup[$index][1]" datepicker-options="dateOptions" ng-required="true" close-text="Close" name="end_date" class="form-control" placeholder="End Date">
                        <i class="fa fa-calendar pointer" ng-click="open($index, 1)" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-xs-7">
                      <select ng-model="destination.destination" ng-options="destination.city for destination in destinations track by destination.city"></select>
                    
                </div>
            </div>
            <input type="submit" value="Let Me Plan">
        </form>
    </div>
</main>
