<style type="text/css">
  .star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.star-rating.readonly .star.filled {
  color: #666;
}
</style>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Edit Attraction
        </h1>
    </div>
</div>
<!-- /.row -->
<form role="form" ng-submit="updateAttraction()" name="EditAttractionForm" novalidate>
<div style="margin-left: 100px">
    <div class="form-group">
        <label class="col-sm-3 control-label" for="name">Name *:</label>
        <div class="col-sm-9">
        <input type="text" class="form-control" ng-model="attraction.name" id="name" placeholder="Attraction Name" name='name' tabindex="1" required autofocus>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.name || EditAttractionForm.name.$touched && EditAttractionForm.name.$error.required">Required!</span>
        </div>
    </div>

<!--      <div class="form-group">
        <label class="col-sm-3 control-label" for="first_name">Title :</label>
        <div class="col-sm-9">
        <input type="text" class="form-control" ng-model="journal.title" id="first_name" placeholder="First Name" tabindex="2">
        </div>
    </div> -->

    <div class="form-group">
        <label class="col-sm-3 control-label" for="description">Description :</label>
        <div class="col-sm-9">
        <textarea class="form-control" ng-model="attraction.description" id="description" placeholder="Attraction Description" name='description' tabindex="2" autofocus> </textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="category">Category *:</label>
        <div class="col-sm-9">
        <select class="form-control" ng-model="attraction.category" id="category" name='category' tabindex="3" autofocus ng-options="value.title for value in categories track by value.name" required autofocus>
            <option value="">--Select Category--</option>
        </select>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.category || EditAttractionForm.category.$touched && EditAttractionForm.category.$error.required">Required!</span>
        </div>
    </div>
<!--     <div class="form-group">
        <label class="col-sm-3 control-label" for="rating">Rating :</label>
        <div class="col-sm-9">
        <select class="form-control" ng-model="attraction.rating" id="rating" name='rating' tabindex="4" autofocus ng-options="value for value in ratings" required autofocus>
            <option value="">--Select Rating -- </option>
        </select>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.rating || EditAttractionForm.rating.$touched && EditAttractionForm.rating.$error.required">Required!</span>
        </div>
    </div> -->

<div class="form-group">
<label class="col-sm-3 control-label" for="rating">Rating :</label>
<div class="col-sm-9">
 <star-rating ng-model="attraction.rating" readonly="isReadonly"></star-rating>
  <label>
    <input type="checkbox" ng-model="isReadonly"/>
    Uncheck To Change
  </label>
</div>
</div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="phone_no">Phone Number :</label>
        <div class="col-sm-9">
        <input type="text" class="form-control" ng-model="attraction.phone_no" id="phone_no" placeholder="Phone Number" name='phone_no' tabindex="5" required autofocus>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.phone_no || EditAttractionForm.phone_no.$touched && EditAttractionForm.phone_no.$error.required">Required!</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="latitude">Latitude :</label>
        <div class="col-sm-9">
        <input type="text" class="form-control" ng-model="attraction.latitude" id="latitude" placeholder="Latitude" name='latitude' tabindex="5" autofocus>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="longitude">Longitude :</label>
        <div class="col-sm-9">
        <input type="text" class="form-control" ng-model="attraction.longitude" id="longitude" placeholder="Longitude" name='longitude' tabindex="6" autofocus>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="address">Address :</label>
        <div class="col-sm-9">
        <textarea class="form-control" ng-model="attraction.address" id="address" placeholder="Attraction Address" name='address' tabindex="8" required autofocus> </textarea>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.address || EditAttractionForm.address.$touched && EditAttractionForm.address.$error.required">Required!</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="city">City :</label>
        <div class="col-sm-9">
        <select class="form-control" ng-model="attraction.city" id="city" name='city' tabindex="9" ng-options="value.city for value in destinations track by value._id" required autofocus>
            <option value="">--Select City--</option>
        </select>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.city || EditAttractionForm.city.$touched && EditAttractionForm.city.$error.required">Required!</span>
        </div>
    </div>
<!--     <div class="form-group">
        <label class="col-sm-3 control-label" for="language">language :</label>
        <div class="col-sm-9">
        <select class="form-control" ng-model="attraction.language_code" ng-change="language_change()" id="language" name='language' tabindex="11" required autofocus>
            <option value="">--Select Language--</option>
            <option ng-repeat="(key, value) in languages" value="{{key}}">{{value}}</option>
        </select>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.language || EditAttractionForm.language.$touched && EditAttractionForm.language.$error.required">Required!</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="yelp_full_url">Yelp Full Url :</label>
        <div class="col-sm-9">
        <input type="text" class="form-control" ng-model="attraction.yelp_full_url" id="yelp_full_url" placeholder="Full Url From Yelp" name='yelp_full_url' tabindex="5" autofocus>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="eat24_url">Eat 24 Url :</label>
        <div class="col-sm-9">
        <input type="text" class="form-control" ng-model="attraction.eat24_url" id="eat24_url" placeholder="Eat 24 Url" name='eat24_url' tabindex="5" autofocus>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="reservation_url">Reservation Url :</label>
        <div class="col-sm-9">
        <input type="text" class="form-control" ng-model="attraction.reservation_url" id="reservation_url" placeholder="Reservation Url" name='reservation_url' tabindex="5" autofocus>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="review_count">Review Counts :</label>
        <div class="col-sm-9">
        <input type="number" class="form-control" ng-model="attraction.review_count" id="review_count" placeholder="Review Count" name='review_count' tabindex="5" autofocus>
        </div>
    </div> -->
    <!-- Image Field-->
    <div class="form-group">
        <label class="col-sm-3 control-label" for="image_url">Attraction Image *:</label>
        <div class="col-sm-9">
        <input type="file" accept="image/*" ngf-max-size="5MB" ngf-select ng-model='temp_file' tabindex="12" name="temp_file">
        </div>
    </div>
    <div class="form-group">
        <img height="200" width="200" src="{{attraction.image_url}}" ng-show="attraction.image_url && !temp_file">
    </div>
<!--     <div class="form-group">
        <label for="is_claimed">Claimed :</label>
        <input type="checkbox" name="is_claimed" id="is_claimed" ng-model="attraction.is_claimed" tabindex="13" autofocus>
    </div> -->
    <div class="form-group">
        <label for="is_closed">Closed :</label>
        <!-- <div class="col-sm-9"> -->
        <input type="checkbox" name="is_closed" id="is_closed" ng-model="attraction.is_closed" tabindex="12" autofocus>
        <!-- </div> -->
    </div>

    <div class="form-group">
        <label for="is_always_open">Timings :</label>
        <!-- <div class="col-sm-9"> -->
        <input type="radio" ng-change="alwaysopen()" name="time" id="is_always_open" value=true ng-model="attraction.is_always_open" tabindex="13" autofocus>Always open
        <input type="radio" ng-change="alwaysopen()" name="time" id="custom_timing" value=false ng-model="attraction.is_always_open" tabindex="13" autofocus>Add Custom Timing    
        <!-- </div>  -->  
    </div>      

    <div ng-if="attraction.is_always_open == 'false'">
    <div class="form-group" ng-repeat="timings in timing track by $index">
        Timings :-
            <select ng-model="timing[$index].day" id="day" name='day' ng-options="k as v for (k,v) in allDays" tabindex="14">
                <option value="">--Select Days--</option>
            </select>
            Opening Time :
            <input type="time" name="opening_time" id="opening_time" ng-model="timing[$index].opentiming"></input>
            Closing Time :
            <input type="time" name="closing_time" id="closing_time" ng-model="timing[$index].closetiming"></input>
            <button type="button" ng-click="removeopenclosetime($index)">Remove it</button>
    </div>
    <button type="button" ng-click="clickme()">Add New Timing</button>
    </div>

<!--     <div class="form-group">
        <label for="publish">Approve :</label>
        <input type="checkbox" name="publish" id="publish" ng-model="attraction.published" tabindex="13" autofocus>
    </div> 
 -->
    <div class="form-group">
        <div class="col-xs-12 red" ng-show="error">{{error}}</div>
        <input type="submit" class="btn btn-primary" value="Update Attraction">
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>
</form>
