<!-- this is my profile
<div class="col-xs-12">
    <a ui-sref="index.editprofile">Edit</a>
</div>
<div class="col-xs-9">
	<div class="col-xs-12">
		<div class="col-xs-3">Username</div>
		<div class="col-xs-5">{{user.local.username}}</div>

	<div class="col-xs-12">
		<div class="col-xs-3">Email</div>
		<div class="col-xs-5">{{user.local.email}}</div>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-3">First Name</div>
		<div class="col-xs-5">{{user.profile_fields.first_name}}</div>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-3">Last Name</div>
		<div class="col-xs-5">{{user.profile_fields.last_name}}</div>
	</div>

	<div class="col-xs-12">
		<div class="col-xs-3">Phone Number</div>
		<div class="col-xs-5">{{user.profile_fields.ph_no}}</div>
	</div>
</div>
</div>
 -->
<!-- .................  user cover image section .................. -->
    <div class="userCover-img">
    	<button class="btn btn-default"><i class="fa fa-camera"></i> Edit</button>
    	<div class="userCover-toBottom">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-sm-7">
	    				<div class="userProfile-picPadding">
	    					<div class="userProfile-pic">
	    						<img src="{{user.image ? user.image : '/images/default_user.png'}}" class="fullimage">
	    						<a class="btn btn-default" ui-sref="index.editprofile" ng-click="changeState('image')"><i class="fa fa-camera"></i> Edit</a>
	    					</div>
	    				</div>
	    				<span class="userName-cover">{{user.profile_fields.first_name}} </span>
	    			</div>
	    			<div class="col-sm-5 toAbsolute">
	    				<h2>Amazing Dude</h2>
	    				<h2>Amazing Life</h2>
	    				<p>Welcome to the personal site of John Doe. </p>
						<p>A professional skier and a musician.</p>
					</div>
	    		</div>
	    	</div>
    	</div>
    </div>


 	<!-- ..................................  main page content starts ..............................  -->
	<main class="mt-top100">
		<div class="container-fluid">
			<div class="row">
				<!-- .........................  3 column layout - left side bar ...................  -->
				<div class="col-sm-3">
					<div class="block-shadow">
						<h3 class="blockShadow-head">
							About
							<a ui-sref="index.editprofile" class="font-lightColor" ng-click="changeState('profile')">Edit</a>
						</h3>
						<ul class="list-abouts">
			<!-- 				<li>
								<i class="fa fa-briefcase" aria-hidden="true"></i>
								<div>
									<p>Designer at <a href="">ZURE</a></p>
									<p class="font-lightColor">Past: Made Services</p>
								</div>
							</li>
							<li>
								<i class="fa fa-graduation-cap" aria-hidden="true"></i>
								<div>
									<span>Studied at Sant jose State University</span>
								</div>
							</li>
							<li>
								<i class="fa fa-home" aria-hidden="true"></i>
								<div>
									<span>Lives in Ackland, New zealand</span>
								</div>
							</li> -->
							<li>
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<div>
									<span>{{user.local.email}}</span>
								</div>
							</li>
							<li ng-if="user.profile_fields.ph_no">
								<i class="fa fa-phone" aria-hidden="true"></i>
								<div>
									<span>{{user.profile_fields.ph_no}}</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- .........................  3 column layout - main content ...................  -->
				<div class="col-sm-6">
					<div class="block-shadow">
						<div class="blockShadow-head">
							<ul class="postComment-actionList clearfix">
								<li>
									<a href="">	
										<i class="fa fa-pencil-square" aria-hidden="true"></i>
										Blog
									</a>										
								</li>
								<li>
									<a href="">	
										<i class="fa fa-camera-retro" aria-hidden="true"></i>
										Photos / Videos
									</a>										
								</li>
								<li>
									<a href="">	
										<i class="fa fa-flag" aria-hidden="true"></i>
										Life Event
									</a>										
								</li>
							</ul>
						</div>
						<div class="post-textarea-wrap clearfix">
							<div class="post-update-img pull-left"></div>
							<div class="post-update-text"><textarea placeholder="Whats on your mind ?"></textarea></div>	
						</div>
						<div class="blockShadow-foot text-right">
							<div class="dropdown">
							  	<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    <i class="fa fa-globe" aria-hidden="true"></i>
							    Public
							    <span class="caret"></span>
							  	</button>
							  	<ul class="dropdown-menu">
								    <li><a href="#">
								    	<i class="fa fa-users" aria-hidden="true"></i>	
								    	Friends</a>
								    </li>
								</ul>
							</div>
							<button class="btn btn-default btn-sm" type="button">Post</button>
						</div>
					</div>
					<div class="posts mt-top30">
						<div class="block-shadow mt-Bottom30">
							<div class="blockShadow-head clearfix">
								<div class="post-textarea-wrap pull-left">
									<div class="post-update-img pull-left"></div>
									<div class="post-update-text"><span>User Name</span></div>
								</div>
								<div class="pull-right">
									<span class="timePosted">10 minuts Ago</span>
								</div>
							</div>
							<div class="postsImage">
								<img src="images/postsImg.jpg" alt="getawey" />
							</div>	
						</div>
					</div>


				</div>
				<!-- .........................  3 column layout - Right side bar ...................  -->
				<div class="col-sm-3">
					<div class="addBoxes"><img src="images/addOne.jpg" alt="getawey" /></div>
					<div class="addBoxes mt-top30"><img src="images/addTwo.png" alt="getawey" /></div>
				</div>
			</div>
		</div>
	</main>