	<!--Client css-->
    <link rel="stylesheet" type="text/css" href="../../css/custom.css">
    <link rel="stylesheet" type="text/css" href="../../css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="../../css/font-awsome/css/font-awesome.css">

	<header id="mainHeader">
		<nav class="navbar">
	        <div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="#">
		            	<img src="images/travel-itinerary-logo.png" alt="travel-itinerary-logo" />
		            	Getawey
		            </a>
		        </div>
		        <div class="to-right">
			        <div id="navbar" class="navbar-collapse collapse">
			            <ul class="nav navbar-nav">
				            <li><a href="#">World atlas</a></li>
				            <li><a href="#about">itinerary builder</a></li>
				            <li><a href="#contact">popular trips</a></li>
				            <li><a href="#contact">Travel community</a></li>
				        </ul>
			        </div><!--/.nav-collapse -->
			        <div class="sel-lang">
			        	<ul class="clearfix">
			        		<li ng-if="!loggedInUser"><a  ui-sref="index.login">LOGIN</a></li>
			        		<li ng-if="!loggedInUser"> <a ui-sref="index.sign-up" class="btn btn-primary">Sign Up</a></li>

			        		<li ng-if="loggedInUser" class="dropdown">
				        		<a class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >{{loggedInUser.profile_fields.first_name}}</a>
								  <ul class="dropdown-menu">
								    <li><a class="dropdown-item" ui-sref="index.profile">View Profile</a></li>
								    <li><a class="dropdown-item" ui-sref="index.createJournal">Create Journal</a></li>
								    <li><a class="dropdown-item" ui-sref="index.createAttraction">Create Attraction</a></li>
								    <li><a class="dropdown-item" ui-sref="index.editprofile" ng-click="changeState('password')">Change Password</a></li>
								    <li><a class="dropdown-item" ui-sref="index.editprofile">Edit Profile</a></li>
								    <li><a class="dropdown-item pointer"  ng-click="logout()">Log Out !</a></li>
								  </ul>
			        		</li>
			        		<li>
			        			<select>
								    <option>English</option>
								    <option>Dutch</option>
								</select>
							</li>
			        	</ul>
			        </div>
		        </div>
	    	</div>
	    </nav>
	</header>
	
<div  ui-view></div>



	<!-- ..........................   main site footer starts ......................................  -->

	<footer ng-if="currentState =='index.home' || currentState == 'index.editItinerary'">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h4 class="foot-heading">Gateway Travel</h4>
					<ul class="contact-foot">
						<li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i> Broadway Road 123, New York</a></li>
						<li><a href=""><i class="fa fa-phone" aria-hidden="true"></i> +123456987</a></li>
						<li><a href=""><i class="fa fa-envelope" aria-hidden="true"></i> Mail: info@travel.com</a></li>
					</ul>
					<ul class="social-foot clearfix">
						<li><a href="" class="red"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
						<li><a href="" class="blue"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
						<li><a href="" class="green"><i class="fa fa-comments" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<div class="col-sm-3">
					<h4 class="foot-heading">Tags</h4>
					<div class="tags">
				    	<a href="">Paris</a>
				    	<a href="">Bulgaria</a>
				    	<a href="">peru</a>
				    	<a href="">Bulgaria</a>
				    	<a href="">peru</a>
				    	<a href="">Bulgaria</a>
				    	<a href="">peru</a>
				    </div>
				</div>

				<div class="col-sm-3">
					<h4 class="foot-heading">Gallery</h4>
					<div class="galleryFooter">
				    	<ul class="row">
				    		<li class="col-sm-4"><a href=""></a></li>
				    		<li class="col-sm-4"><a href=""></a></li>
				    		<li class="col-sm-4"><a href=""></a></li>
				    		<li class="col-sm-4"><a href=""></a></li>
				    		<li class="col-sm-4"><a href=""></a></li>
				    		<li class="col-sm-4"><a href=""></a></li>
				    	</ul>	
				    </div>
				</div>

				<div class="col-sm-3">
					<h4 class="foot-heading">Contact Us</h4>
					<div class="contactForm-footer">
				    	<form>
						    <div class="form-group">
							    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
						    </div>
						    <div class="form-group">
							    <textarea></textarea>
						    </div>
						    <button class="btn btn-primary">Send</button>
						</form>    	
				    </div>
				</div>
			</div>
		</div>
	</footer>
