<!-- <div class="dialog-contents"> Some message<div ng-repeat="day in itinerary.days">{{day}}</div><button ng-click="closeThisDialog()">Cancel</button> <button ng-click="confirm()">Confirm</button> </div> -->

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
		<div ng-repeat="(key, value) in travelModes" ng-click="toggleTravelMode(key)">
			<div class="col-xs-12">
				<div class="col-xs-4 nopadding">
					<i class="fa fa-taxi" ng-if="key == 'driving'"></i>
					<i class="fa fa-male" ng-if="key == 'walking'"></i>
					<i class="fa fa-bicycle" ng-if="key == 'bicycling'"></i>
					{{key}}</div>
				<div class="col-xs-3 nopadding">{{value.next_duration.text}}</div>
				<div class="col-xs-5 nopadding"> 
					<i class="fa fa-caret-down" ng-show="currentMode !== key"></i>
					<i class="fa fa-caret-up" ng-show="currentMode == key"></i>
					<button class="btn btn-xs btn-primary" ng-click="confirm(key)"> Set this mode </button>
				</div>
			</div>

			<div id="{{key}}" class="col-xs-12" ng-show="currentMode == key"> 
					<div>{{value.start_address}} </div>

					<ul class="list-group">
                        <li ng-repeat="step in value.steps" class="list-group-item"> 
                        	<div ng-bind-html="step.html_instructions"></div>
                        	<div>{{step.distance.text}} / {{step.duration.text}} </div>
                        </li>
                    </ul>

					<div>{{value.end_address}} </div>
			</div>
		</div>
    </div>
</div>
