<main>

    <!-- ................  banner - index page .........................  -->
    <div class="banner-index tourPage">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="foot-heading">{{itinerary.trip_from.city}} TO {{itinerary.trip_to[itinerary.trip_to.length -1].destination.city}} Tour</h4>
                    <!--                         <h5>the best of the mediterranium</h5> -->
                </div>
            </div>
            <div class="row tour-slide-banner">
                <div class="col-sm-12">
                    <div class="toBg">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tour-summry clearfix">
                                    <div class="tourSum-pic"></div>
                                    <h3>
                                            <span>{{itinerary.title}}</span>
                                            <span>{{itinerary.start_date | date :  "dd MMM y"}} -{{itinerary.end_date | date :  "dd MMM y"}}</span>
                                        </h3>
                                    <a ui-sref="index.editItinerarysDays({machine_name : itinerary.machine_name , id : itinerary._id})" class="btn btn-primary pull-right">Edit Cities, Days and date</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tourSlide-region">
                                
                                <div class="col-xs-8 updateme" ng-if="ctrl.ready">
                                    <slick infinite=false slides-to-show=4 slides-to-scroll=1>
                                        <div>
                                        <img style="height:30px;width:30px" ng-if="itinerary.trip_from.image" src="{{itinerary.trip_from.image}}" ng-cloak>
                                           {{itinerary.trip_from.city}}
                                       
                                        </div>

                                        <div ng-repeat="destination in itinerary.trip_to">
                                          <img  style="height:30px;width:30px" ng-if="destination.destination.image" src="{{destination.destination.image}}" ng-cloak>
                                            {{destination.destination.city}}
                                            <div>
                                                {{stayDays(destination)}}
                                            </div>
                                        </div>
                                        
                                        <div>
                                            <img style="height:30px;width:30px" ng-if="itinerary.trip_from.image" src="{{itinerary.trip_from.image}}" ng-cloak>
                                           {{itinerary.trip_from.city}}
                                        </div>
                                    </slick>
                                </div>
                                    <!-- ............ place slider code here .......... -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="toBg-white clearfix">
                        <div class="pull-left" ng-if="!showingMap">
                            <select ng-model="mapday">
                                <option ng-repeat="(key, value) in itinerary.days" value="{{key}}">Day {{key}}</option>
                            </select>
                            <button ng-click="showMap()" class="btn btn-primary icon-map">Map View</button>
                        </div>
                        <div class="pull-left" ng-if="showingMap">
                            
                            <button ng-click="hideMap()" class="btn btn-primary icon-map">Planner View</button>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-click="saveItinerary('draft')">Save Draft</button>
                            <button class="btn btn-primary" ng-click="saveItinerary('finish')">Finish Planning</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .........................................  tour plan details block ......................................................... -->
    <div class="main-content-margin toHide-overflow" ng-if="showingMap" ng-class="showSidebar ? 'slide-done' : ''">
            <iframe  class="col-xs-10 col-xs-offset-1 main-content-margin toHide-overflow" style="height:400px" ng-src="{{trustSrc(mapSrc)}}"></iframe >
    </div>

    <div class="main-content-margin toHide-overflow" ng-if="!showingMap" ng-class="showSidebar ? 'slide-done' : ''">
        <!-- ..............  attraction search list ............................. -->
        <div class="attractioList-wrap">
            <button class="btn plus" ng-click="toggleSidebar()"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <div class="attractioList-main">
                <div class="attractioList-head">
                    <h3>Add Places: <span>Drag and Drop</span></h3></div>
                <div class="attractioList-content">
                    <div class="att-padding place-sel">
                        <select ng-change="searchAttractions()" ng-model="search.filter.city">
                            <option value="">---- Select City ----</option>
                            <option ng-repeat="city in destinations" value="{{city._id}}"> {{city.city}}</option>
                        </select>
                    </div>
                    <div class="att-padding">
                        <h4 class="attHead-sec">attractions</h4>
                        <div class="toBorder">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li ng-class="searchCategory == 'search' ? 'active' : ''" ng-click="searchCategorySwitch('search')"><a class="pointer">Search</a></li>
                                <li ng-class="searchCategory == 'category' ? 'active' : ''" ng-click="searchCategorySwitch('category')"><a class="pointer">Category</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- ...............   tab content one ....................  -->
                                <div role="tabpanel" class="tab-pane active" id="search">
                                    <div class="serach-places att-padding" ng-show="searchCategory == 'search'">
                                        <form ng-submit="searchAttractions()">
                                            <input type="text" placeholder="Search" ng-model="search.name">
                                        </form>
                                    </div>
                                    <div class="serach-places att-padding place-sel" ng-show="searchCategory == 'category'">
                                        <select ng-change="searchAttractions()" ng-model="search.filter.category">
                                            <option value="">--Select Category--</option>
                                            <option ng-repeat="category in categories" value="{{category._id}}"> {{category.name}}</option>
                                        </select>
                                    </div>
                                    <div class="att-list">
                                        <ul dnd-drop="dropCallback(event, index, item, external, type, 'itemType','search');" dnd-list="attractions">
                                            <li ng-repeat="attraction in attractions" dnd-draggable="attraction" dnd-effect-allowed="copy">
                                                <div class="att-places">
                                                    <img class="att-placesPic" src="{{attraction.image_url}}" ng-cloak />
                                                    <h4>{{attraction.name}}</h4>
                                                    <a href=""><i class="fa fa-info" aria-hidden="true"></i>  Info</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="tourPlan-wrap">
                        <div class="clearfix">    
                            <button class="it-next pull-right" ng-click="move(+1)"ng-show="slideron < total_days">Next</button>
                            <button class="it-prev pull-left" ng-click="move(-1)"  ng-show="slideron > 1">previous</button>
                        </div>

                       <div class="tour-plan-main row">
                            <!-- Repeat days-->
   
                            <div class="col-sm-4" style="min-height:500px" ng-repeat="(key,day) in itinerary.days" ng-hide="key < slideron || slideron +2 < key">
                                <div class="tourPlan-header" ng-class-odd="'black'" ng-class-even="'blue'">
                                    <h3>Day {{key}} <span> 15 May 2016</span></h3>
                                    <h5><span>China</span> - <span>paris</span></h5>
                                    <a href=""><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                </div>
                                <!--Repeat attractions inside drag drop ul-->
                                <ul dnd-list="day" dnd-drop="dropCallback(event, index, item, external, type, 'itemType',key);" dnd-inserted="calulateTime(key);" class="tour-plan-main">
                                    <li ng-repeat="attraction in day" ng-class="!attraction.next_distance.text ? 'day_last_item': '' " >
                                   
                                    <!--attraction-->
                                        <div dnd-draggable="attraction" dnd-moved="day.splice($index, 1);calulateTime(key)" , dnd-effect-allowed="move">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" ng-click="showTimepicker('start',$index)" type="button">{{attraction.start_time | date:'shortTime' }} <span class="caret"></span></button>
                                                <div class="timepicker" ng-show="timepicker_view=='start'+$index">
                                                    <uib-timepicker ng-model="attraction.start_time" hour-step="hstep" minute-step="mstep" show-meridian="true">
                                                    </uib-timepicker>
                                                    <div class="text-center">
                                                        <button ng-click="calulateTime(key);hideTimepicker()" type="button" class="btn btn-primary">Set</button>
                                                        <button type="button" ng-click="hideTimepicker()" class="btn btn-default">Cancel</button>
                                                    </div>
                                                </div>
                                                <span class="remove-it pull-right">
                                                    <i class="fa fa-times-circle" aria-hidden="true" ng-click="removeAttraction(key,$index)"></i>
                                                </span>
                                            </div>
                                            <div class="drag-item type-2">
                                                <img src="{{attraction.image_url}}" class="dragItem-pic" ng-cloak />

                                                <h4>{{attraction.name}}</h4>
                                                <div class="dropdown">
                                                    <button class="btn btn-default dropdown-toggle" ng-click="showTimepicker('stay',$index)" type="button"> {{attraction.stay_time | date:'HH:mm' }} hrs <span class="caret"></span></button>
                                                    <div class="timepicker" ng-show="timepicker_view == 'stay'+$index">
                                                        <uib-timepicker ng-model="attraction.stay_time" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="false">
                                                        </uib-timepicker>
                                                        <div class="text-center">
                                                            <button type="button" ng-click="calulateTime(key);hideTimepicker()" class="btn btn-primary">Set</button>
                                                            <button type="button" ng-click="hideTimepicker()" class="btn btn-default">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="tourInfo" ng-if="attraction.next_distance.text">
                                            <div class="tourInfo-inner bordered " ng-class="key % 2 == 0 ? 'blue':'yellow'">
                                                <div class="stats-dist clearfix">
                                                <i class="fa fa-taxi" ng-if="attraction.next_travel_mode.toLowerCase() == 'driving'" aria-hidden="true"></i>
                                                <i class="fa fa-male" ng-if="attraction.next_travel_mode.toLowerCase() == 'walking'" aria-hidden="true"></i>
                                                <i class="fa fa-bicycle" ng-if="attraction.next_travel_mode.toLowerCase() == 'bicycling'" aria-hidden="true"></i> 
                                                    {{attraction.next_distance.text}} | {{attraction.next_duration.text}}
                                                    <a class="pointer"  ng-click="showDiffMode(key , $index)">Change</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tourInfo day-end" ng-if="!attraction.next_distance.text" ng-class="key % 2 ==0 ? 'blue':'yellow'">
                                            <div class="tourInfo-inner bordered" ng-class="key % 2 ==0 ? 'blue':'yellow'">
                                                <h4>Day {{key}} End at {{dayend(attraction)  | date:'shortTime'}}</h4>
                                            </div>
                                        </div>

                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .........................................  popular destination block starts ......................................................... -->
</main>

<div class="updating_itinerary_days" ng-show="updating_itinerary_days"></div>