<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Edit Journal
        </h1>
    </div>
</div>

<form role="form" ng-submit="UpdateJournal()" name="createForm" novalidate>
<div style="margin-left: 100px">
     <div class="form-group">
        <label class="col-sm-3 control-label" for="first_name">Title :</label>
        <div class="col-sm-9">
        <input type="text" class="form-control" ng-model="journal.title" id="first_name" placeholder="First Name" tabindex="2">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="last_name">Description :</label>
        <div class="col-sm-9">
        <textarea type="text" class="form-control" ng-model="journal.description" id="last_name" placeholder="Last Name" tabindex="3"></textarea>
        </div>
    </div>

<!--     <div class="form-group">
        <label for="last_name">Language :</label>
        <input type="text" class="form-control" ng-model="journal.language" id="last_name" placeholder="Last Name" tabindex="3">
    </div>   -->  
    <div class="form-group"> 
    <label class="col-sm-3 control-label" for="tags">Tags :-</label>
    <div class="col-sm-9">
    <tags-input ng-model="journal.tags" display-property="name" min-length="3" min-tags="0" add-from-autocomplete-only="false" tabindex="3" >
     <auto-complete source="getTags($query)" select-first-match="false"  min-length="1"></auto-complete>
    </tags-input>
    </div>
    </div>



    <div class="form-group">
        <label class="col-sm-3 control-label" for="language">language *:</label>
        <div class="col-sm-9">
        <select class="form-control" ng-model="journal.language_code" ng-change="language_change()" id="language" name='language' tabindex="11" required autofocus>
            <option value="">{{journal.language}}</option>
            <option ng-repeat="(key, value) in languages" value="{{key}}">{{value}}</option>
        </select>

        <span class="error help-block col-xs-12 red" ng-show="submitted && !CreateJournalForm.language.$touched || CreateJournalForm.language.$touched && CreateJournalForm.language.$error.required">Required!</span>
        </div>
    </div>

<!--     <div class="form-group">
        <label for="last_name">Publish :</label>
        <input type="text" class="form-control" ng-model="journal.publish" id="last_name" placeholder="Last Name" tabindex="3">
    </div> -->     

    <div class="form-group">
        <label class="col-sm-3 control-label" for="city">Destination *:</label>
        <div class="col-sm-9">
        <select class="form-control" ng-model="journal.destinations" id="city" name='city' tabindex="9"  ng-options="value.city for value in destinations track by value._id" required autofocus>
          <option value="">{{journal.destinations.city}}</option>
        </select>

        <span class="error help-block col-xs-12 red" ng-show="submitted && !CreateAttractionForm.city.$touched || CreateAttractionForm.city.$touched && CreateAttractionForm.city.$error.required">Required!</span>
        </div>
    </div>

<!--     <div class="form-group">
        <label for="publish">Publish :</label>
        <input type="checkbox" name="publish" id="publish" ng-model="journal.publish" tabindex="12" ng-init="journal.publish = journal.publish || false" autofocus>
    </div>

    <div class="form-group">
        <label for="featured">Featured :</label>
        <input type="checkbox" name="featured" id="featured" ng-model="journal.featured" tabindex="12" ng-init="journal.featured = journal.featured || false" autofocus>
    </div> -->

    <div class="form-group">
        <label class="col-sm-3 control-label" for="image">Image *:</label>
        <div class="col-sm-9">
        <input type="file" accept="image/*" ngf-max-size="5MB" ngf-select ng-model='temp_file'>
        </div>
    </div>

    <div class="form-group">
        <img height="200px" width="200px" src="{{journal.image_url}}" ng-show="journal.image_url && !temp_file">
    </div>   

    <div class="form-group">
    <div class="error red" ng-show="error" >{{error}}</div>
    <div class="col-sm-9 pull-right">
    <button type="submit" class="btn btn-primary">Update journal</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
    </div>
</div>
</form>
