    <!-- .................  user cover image section .................. -->
  <div class="userCover-img">
        <button class="btn btn-default"><i class="fa fa-camera"></i> Edit</button>
        <div class="userCover-toBottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="userProfile-picPadding">
                            <div class="userProfile-pic">
                                <img src="{{user.image ? user.image : '/images/default_user.png'}}" class="fullimage">
                                <a class="btn btn-default" ui-sref="index.editprofile({test:true})" ng-click="switchTab('image')"><i class="fa fa-camera"></i> Edit</a>
                            </div>
                        </div>
                        <span class="userName-cover">{{user.profile_fields.first_name}} </span>
                    </div>
                    <div class="col-sm-5 toAbsolute">
                        <h2>Amazing Dude</h2>
                        <h2>Amazing Life</h2>
                        <p>Welcome to the personal site of John Doe. </p>
                        <p>A professional skier and a musician.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ..................................  main page content starts ..............................  -->
    <main class="mt-top30 mt-Bottom30">
        <div class="container profile-settings-page">
            <div class="page-header">
                <div class="title">
                    <h2>Profile Settings</h2>
                </div>
            </div>
            <div class="form-horizontal">
                <ul class="nav nav-tabs">
                  <li class="pointer" ng-class="editProfileTab == 'profile' ? 'active' : ''" ng-click="switchTab('profile')"><a >Profile</a></li>
                  <li  class="pointer" ng-class="editProfileTab == 'password' ? 'active' : ''" ng-click="switchTab('password')"><a >Password</a></li>
                  <li class="pointer" ng-class="editProfileTab == 'image' ? 'active' : ''"  ng-click="switchTab('image')"><a >Image</a></li>
                </ul>
                <div id="myTabContent" class="tab-content mt-top30">
                  <div id="home" ng-show="editProfileTab == 'profile'">
                     <form role="form" ng-submit="updateUser()" name="profileForm" novalidate>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="hasMax-width">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" >First Name:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="First Name" name="first_name" ng-model="user.profile_fields.first_name" required ng-class="profileForm.first_name.$touched && profileForm.first_name.$error.required ? 'error' : ''" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Last Name:</label>
                                        <div class="col-sm-9">
                                            <input type="text"  ng-model="user.profile_fields.last_name" class="form-control" placeholder="Last Name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Email Id:</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="user.local.email" class="form-control" placeholder="test@sample.com" disabled />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Phone Number:</label>
                                        <div class="col-sm-9">
                                            <input type="number" ng-model="user.profile_fields.ph_no" class="form-control" placeholder="Phone Number" name="ph_no" ng-class="profileForm.ph_no.$touched && profileForm.ph_no.$error.number ? 'error' : ''">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            <div class="col-xs-12 red nopadding" ng-show="error">{{error}}</div>
                                            <button class="btn btn-primary" type="submit">Update</button>
                                            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                  </div>
                  <div ng-show="editProfileTab == 'password'">
                     <form role="form" ng-submit="changePassword()" name="passwordForm" novalidate>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="hasMax-width">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Old Password:</label>
                                        <div class="col-sm-9">
                                            <input type="password" ng-model="user.old_password"  name = "old_password" class="form-control" placeholder="Old Password" ng-class="submitted && user.old_password || passwordForm.old_password.$touched && passwordForm.old_password.$error.required ? 'error' : ''" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">New Password:</label>
                                        <div class="col-sm-9">
                                            <input type="password" ng-model="user.new_password"  name = "new_password" class="form-control" placeholder="New Password" ng-class="submitted && user.new_password || passwordForm.new_password.$touched && passwordForm.new_password.$error.required ? 'error' : ''" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Confirm Password:</label>
                                        <div class="col-sm-9">
                                            <input type="password" ng-model="user.confirm_new_password"  name = "confirm_new_password" class="form-control" placeholder="Confirm New Password" ng-class="submitted && user.confirm_new_password || passwordForm.confirm_new_password.$touched && passwordForm.confirm_new_password.$error.required ? 'error' : ''" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            <div class="col-xs-12 red nopadding" ng-show="password_error">{{password_error}}</div>
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                  </div>

                  <div ng-show="editProfileTab == 'image'">
                     <form role="form" ng-submit="saveImage()" name="imageForm" novalidate>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="hasMax-width">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Image:</label>
                                        <div class="col-sm-9">
                                           <input type="file" accept="image/*" ngf-max-size="3MB" ngf-select ng-model='temp_file' tabindex="12" name="temp_file" ng-class="imageError ? 'error' :''">

                                            <img ng-cloak  src="{{user.image}}" ng-if="!temp_file && user.image" height="200" style="height:300px">
                                            <img ng-if="temp_file" ngf-thumbnail="temp_file" class="thumb" height="200" style="height:300px">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                <div class="col-xs-12 red nopadding" ng-show="imageError">{{imageError}}</div>
                                                <button class="btn btn-primary" type="submit">Update</button>

                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </form>
                  </div>


              </div>
        </div>
    </main>
            
