<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
    <a ui-sref="admin.journals">Back to Journals</a>    
        <h1 class="page-header">
            Comments
        </h1>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Search Comments</h3>
    </div>
    <div class="panel-body">
    <div class="col-xs-10">
      <form ng-submit="searchComments()" class="form-inline">
<!--         <input class="form-control" type="text" ng-model="comments.Description" placeholder="Search by Description"> -->

        <select  class="form-control" ng-model="comments.publish" >
          <option value="">Search By Publish</option>
          <option value="true">Approve</option>
          <option value="false">Unapprove</option>
        </select>

        <input type="submit" name="submit" value="Search" class="btn btn-sm btn-primary">
          <button type="button" class="btn btn-sm btn-primary" ng-click="disableFilter()">Reset</button>
       </form>
    </div>
    </div>
</div>

<div ui-grid="commentsGrid" class="myGrid" external-scopes="clickHandler"></div>

<div class="text-right tm10">
  <div class="col-xs-3 col-xs-offset-6 tm5">
    <p>Current page: {{ currentpage}} of {{ getTotalPagesCount }}</p>
  </div>
  <div class="col-xs-3 ">
    <button type="button" class="btn btn-primary" ng-click="previousPage()">Previous page</button>
    <button type="button" class="btn btn-primary" ng-click="nextPage()">Next page</button>
  </div>
</div>
