<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Create Journal
        </h1>
    </div>
</div>
<!-- /.row -->

<form role="form" ng-submit="createJournal()" name="CreateJournalForm" novalidate>
    <div class="form-group">
        <label for="title">Title *: </label>
        <input type="text" class="form-control" ng-model="journal.title" id="title" placeholder="Journal title" name='title' tabindex="1" required autofocus>
        <span class="error help-block col-xs-12 red" ng-show="CreateJournalForm.title.$touched && CreateJournalForm.title.$error.required || submitted && !CreateJournalForm.title.$touched">Required!</span>
    </div>

    <div class="form-group">
        <label for="description">Description *:</label>
        <textarea class="form-control" ng-model="journal.description" id="description" placeholder="Journal Description" name='description' tabindex="2" required autofocus> </textarea>
        <span class="error help-block col-xs-12 red" ng-show="CreateJournalForm.description.$touched && CreateJournalForm.description.$error.required || submitted && !CreateJournalForm.description.$touched">Required!</span>
    </div>

    <tags-input ng-model="journal.tags" display-property="name" min-length="3" min-tags="0" add-from-autocomplete-only="false" tabindex="3" >
     <auto-complete source="getTags($query)" select-first-match="false"  min-length="1"></auto-complete>
    </tags-input>   

    <div class="form-group">
        <label for="publish">Publish :</label>
        <input type="checkbox" name="publish" id="publish" ng-model="journal.publish" tabindex="4" ng-init="journal.publish=false" autofocus>
    </div>

    <div class="form-group">
        <label for="featured">Featured :</label>
        <input type="checkbox" name="featured" id="featured" ng-model="journal.featured" tabindex="4" ng-init="journal.featured=false" autofocus>
    </div>

    <div class="form-group">
        <label for="language">language *:</label>
        <select class="form-control" ng-model="journal.language_code" ng-change="language_change()" id="language" name='language' tabindex="5" required autofocus>
            <option value="">--Select Language--</option>
            <option ng-repeat="(key, value) in languages" value="{{key}}">{{value}}</option>
        </select>

        <span class="error help-block col-xs-12 red" ng-show="submitted && !CreateJournalForm.language.$touched || CreateJournalForm.language.$touched && CreateJournalForm.language.$error.required">Required!</span>
    </div>    

    <div class="form-group">
        <label for="city">Destination *:</label>
        <select class="form-control" ng-model="journal.destinations" id="city" name='city' tabindex="6"  ng-options="value.city for value in destinations track by value._id" required autofocus>
          <option value="">--Select City--</option>
        </select>

        <span class="error help-block col-xs-12 red" ng-show="submitted && !CreateAttractionForm.city.$touched || CreateAttractionForm.city.$touched && CreateAttractionForm.city.$error.required">Required!</span>

    </div>


    <div class="form-group">
        <label  for="image_url">Journal Image *:</label>
        
        <input type="file" accept="image/*" ngf-max-size="5MB" ngf-select ng-model='temp_file' required tabindex="7" name="temp_file">
        <span class="error help-block col-xs-12 red" ng-show="submitted && !CreateJournalForm.temp_file.$touched || CreateJournalForm.temp_file.$touched && CreateJournalForm.temp_file.$error.required">Required!</span>

    </div>    

    <div class="form-group">
    <div class="col-xs-12 red nopadding" ng-show="error">{{error}}</div>
    <input type="submit" class="btn btn-primary" value="Create Journal">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
