<main class="mt-top30 mt-Bottom30">
    <div class="container profile-settings-page">
        <div class="page-header">
            <div class="title">
                <h2>Create Journal</h2>
            </div>
        </div>
        <div class="form-horizontal">
            <div id="myTabContent" class="tab-content mt-top30">
                <div id="home" ng-show="editProfileTab == 'journal'">
                    <form role="form" ng-submit="createJournal()" name="journalForm" novalidate>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="hasMax-width">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Title *:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Journal Title" name="title" ng-model="journal.title" tabindex="1" required ng-class="journalForm.title.$touched && journalForm.title.$error.required ? 'error' : ''">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Description *:</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" placeholder="Journal Description" name="description" ng-model="journal.description" tabindex="2" required ng-class="journalForm.description.$touched && journalForm.description.$error.required ? 'error' : ''"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Tags *:</label>
                                        <div class="col-sm-9">
                                            <tags-input ng-model="journal.tags" display-property="name" min-length="3" min-tags="0" add-from-autocomplete-only="false" tabindex="3">
                                                <auto-complete source="getTags($query)" select-first-match="false" min-length="1"></auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="language">Language *:</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="journal.language_code" ng-change="language_change()" id="language" name='language' tabindex="4" required ng-class="journalForm.language.$touched && journalForm.language.$error.required ? 'error' : ''">
                                                <option value="">--Select Language--</option>
                                                <option ng-repeat="(key, value) in languages" value="{{key}}">{{value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="city">Destination *:</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="journal.destinations" id="city" name='city' tabindex="5" ng-options="value.city for value in destinations track by value._id" required ng-class="journalForm.city.$touched && journalForm.city.$error.required ? 'error' : ''">
                                                <option value="">--Select City--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="image_url">Journal Image *:</label>
                                        <div class="col-sm-9">
                                            <input type="file" accept="image/*" ngf-max-size="5MB" ngf-select ng-model='temp_file' required tabindex="6" name="temp_file" required ng-class="journalForm.temp_file.$touched && journalForm.temp_file.$error.required ? 'error' : ''">
                                        </div>
                                    </div>
                                    <div class="form-wrap  form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            <div class="col-xs-12 red nopadding" ng-show="error">{{error}}</div>
                                            <!-- <button class="btn btn-primary" type="submit">Create</button> -->
                                            <input type="submit" class="btn btn-primary" value="Create Journal">
                                            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</main>
