<div class="slider">
    <div class="slideOne"></div>
</div>

<main class="content-wrap">
<div class="container-custom">
    <div class="toCell cell-left">
        <h2>Get <span>away</span> before you’re too late</h2>
        <h4>Lorem Ipsum is simply dummy text of the.</h4>
    </div>
    <div class="toCell cell-right">
        <div class="form-wrap">
            <div class="form-head text-center">
                <div class="logo-form"><img src="images/logo-blue-gatawey.png" alt="getawey" /></div>
                <h4>Welcome to travel itinerary</h4>
            </div>
            <form role="form" ng-submit="login()" name="loginForm" novalidate>
                <div class="form-body">
                    <div class="form-group">
                        <input type="email" class="form-control {{errorClass}}" placeholder="Enter Your Email"  ng-model="user.email" name="email" required ng-class="loginForm.email.$touched ? loginForm.email.$error.required ? 'error' : loginForm.email.$error.email ? 'error': '' : ''" title="{{titles.email}}">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control {{errorClass}}" placeholder="Enter Your Password" ng-model="user.password" name="password" required ng-class="loginForm.password.$touched && loginForm.password.$error.required ? 'error' : ''" title="{{titles.password}}">
                    </div>
                    <div class="or">OR</div>
                    <button class="btn btn-facebook" type="button">
                        <span><a  href="/api/users/login/facebook"><img src="images/fb-lightl.png" alt="getawey" />  Log In with Facebook</a></span>
                    </button>
                </div>
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="checkbox">
                            <input type="checkbox" id="chkOne" />
                            <label for="chkOne"> Remember Me</label>
                        </div>
                    </div>
                    <div class="pull-right"><a ui-sref="index.forgot" class="link-forget">Forgot your password?</a></div>
                </div>
                <button type="submit" class="btn btn-default">Login</button>
            </form>
        </div>
    </div>
</div>
</main>